USE [master]
GO
/****** Object:  Database [QLDSV]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE DATABASE [QLDSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLDSV.mdf' , SIZE = 26624KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLDSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLDSV_log.ldf' , SIZE = 39296KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDSV]
GO
/****** Object:  User [HTKN]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_E7E386E2EF2A433DAD38923848CF304B]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE ROLE [MSmerge_E7E386E2EF2A433DAD38923848CF304B]
GO
/****** Object:  DatabaseRole [MSmerge_87F5EAF8E3B64DCD9F8CD1D75CC5EC37]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE ROLE [MSmerge_87F5EAF8E3B64DCD9F8CD1D75CC5EC37]
GO
/****** Object:  DatabaseRole [MSmerge_65796511A80B4B04965CDB49BB9219F0]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE ROLE [MSmerge_65796511A80B4B04965CDB49BB9219F0]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_E7E386E2EF2A433DAD38923848CF304B]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_87F5EAF8E3B64DCD9F8CD1D75CC5EC37]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_65796511A80B4B04965CDB49BB9219F0]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[CT_DONGHOCPHI]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_DONGHOCPHI](
	[MASV] [char](12) NOT NULL,
	[NIENKHOA] [nvarchar](50) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[NGAYDONG] [date] NOT NULL,
	[SOTIENDONG] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_F85F1271B6D84612AF00D90ADBA08A92]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CT_DONGHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[NGAYDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM](
	[MASV] [char](12) NOT NULL,
	[MAMH] [char](6) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[DIEM] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_91FC9D9EDAE644439EA438AC93109038]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[MAKH] [char](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_D7652B9124854AEEAE630E601B82163A]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [char](12) NOT NULL,
	[NIENKHOA] [nvarchar](50) NOT NULL,
	[HOCKY] [int] NOT NULL CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)),
	[HOCPHI] [int] NOT NULL CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_DFECE559DE6E40E3BB5654FAA7F1A563]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [char](4) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_8160E507E7ED4BE1907E2BEE5E422D7A]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](8) NOT NULL,
	[TENLOP] [nvarchar](200) NULL,
	[MAKH] [char](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_EAF532CD23D4473E822960376BA29BD5]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](6) NOT NULL,
	[TENMH] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_5036C95C412F4BDBA55E17D586CD48FC]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](12) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[MALOP] [char](8) NOT NULL,
	[PHAI] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[NOISINH] [nvarchar](40) NULL,
	[DIACHI] [nvarchar](80) NULL,
	[GHICHU] [ntext] NULL,
	[NGHIHOC] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_B96D0546680A4BAFB83D1D23E1F98557]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[GETDSGV]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--SELECT MAGV, HO+' '+ TEN AS N'HO TEN' FROM dbo.GIANGVIEN
--WHERE NOT EXISTS ((SELECT * FROM sys.sysusers WHERE MAGV = NAME) UNION (SELECT * FROM LINK1.QLDSV.sys.sysusers WHERE MAGV = NAME) UNION (SELECT * FROM LINK2.QLDSV.sys.sysusers WHERE MAGV = NAME))

CREATE VIEW [dbo].[GETDSGV]
AS
SELECT MAGV, HO+' '+ TEN AS N'HO TEN' FROM dbo.GIANGVIEN
where MAGV not in((select name from sys.sysusers) union (select name from link1.QLDSV.sys.sysusers) union (select name from link2.QLDSV.sys.sysusers))


GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT  TENCN=PUBS.description, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server
GO
INSERT [dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG], [rowguid]) VALUES (N'n10dccn001  ', N'2017-2018', 1, CAST(N'2020-12-22' AS Date), 5000000, N'f29e7f42-f543-eb11-9259-a44cc84776f2')
INSERT [dbo].[CT_DONGHOCPHI] ([MASV], [NIENKHOA], [HOCKY], [NGAYDONG], [SOTIENDONG], [rowguid]) VALUES (N'n10dccn002  ', N'2017-2018', 1, CAST(N'2020-12-22' AS Date), 5000000, N'763f104a-f543-eb11-9259-a44cc84776f2')
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'N10DCCN001  ', N'CSDL  ', 1, 10, N'b9605c93-8e43-eb11-9259-a44cc84776f2')
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'N10DCCN001  ', N'CTDL  ', 1, 9, N'be99ad86-8e43-eb11-9259-a44cc84776f2')
INSERT [dbo].[DIEM] ([MASV], [MAMH], [LAN], [DIEM], [rowguid]) VALUES (N'N10DCCN002  ', N'CSDL  ', 1, 2, N'ba605c93-8e43-eb11-9259-a44cc84776f2')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV01      ', N'NGUYEN HONG', N'SON       ', N'CNTT', N'a603991a-ea27-eb11-9248-a44cc84776f2')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV02      ', N'TRUONG DINH', N'HUY       ', N'CNTT', N'a703991a-ea27-eb11-9248-a44cc84776f2')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH], [rowguid]) VALUES (N'GV03      ', N'NGUYEN XUAN', N'KHANH     ', N'VT  ', N'a803991a-ea27-eb11-9248-a44cc84776f2')
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'N10DCCN001  ', N'2017-2018', 1, 5000000, N'c34c9914-f543-eb11-9259-a44cc84776f2')
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'N10DCCN002  ', N'2017-2018', 1, 5000000, N'98f3fa1d-f543-eb11-9259-a44cc84776f2')
INSERT [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY], [HOCPHI], [rowguid]) VALUES (N'N15DCCN001  ', N'2017-2018', 1, 7000000, N'9f84e304-9a31-eb11-9255-a44cc84776f2')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [rowguid]) VALUES (N'CNTT', N'Công nghệ thông tin', N'9c03991a-ea27-eb11-9248-a44cc84776f2')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [rowguid]) VALUES (N'VT  ', N'Viễn thông', N'9d03991a-ea27-eb11-9248-a44cc84776f2')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'C10THA1 ', N'Cao dang chính qui CNTT', N'CNTT', N'aa03991a-ea27-eb11-9248-a44cc84776f2')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'D08VTA1 ', N'Đại học chính qui 1  Viễn thông Khóa 2008', N'VT  ', N'ad03991a-ea27-eb11-9248-a44cc84776f2')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'D15CQCN1', N'Đại học chính qui 1  ngành Hệ thống thông tin Khóa 2015', N'CNTT', N'ac03991a-ea27-eb11-9248-a44cc84776f2')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CSDL  ', N'Co so du lieu', N'9f03991a-ea27-eb11-9248-a44cc84776f2')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CSDLPT', N'Co so du lieu phan tan', N'a003991a-ea27-eb11-9248-a44cc84776f2')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CTDL  ', N'Cau truc du lieu', N'9e03991a-ea27-eb11-9248-a44cc84776f2')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'08VTA101    ', N'Nguyễn Thanh', N'Hằng', N'D08VTA1 ', 1, CAST(N'1975-12-07 00:00:00.000' AS DateTime), N'Hà Nội', N'11 Lê Văn Sỹ', N'', 0, N'af03991a-ea27-eb11-9248-a44cc84776f2')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'08VTA102    ', N'Võ Văn', N'Phát', N'D08VTA1 ', 1, CAST(N'1976-05-05 00:00:00.000' AS DateTime), N'Phú Yên', N'246 Phan Ninh Phương', N' ', 0, N'b003991a-ea27-eb11-9248-a44cc84776f2')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC], [rowguid]) VALUES (N'08VTA103    ', N'Trần Thị', N'Yến', N'D08VTA1 ', 0, CAST(N'1989-03-23 00:00:00.000' AS DateTime), N'Lâm Đồng', N'97 Man Thiện', NULL, 0, N'c8274653-6743-eb11-9259-a44cc84776f2')
/****** Object:  Index [MSmerge_index_245575913]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_245575913] ON [dbo].[CT_DONGHOCPHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_277576027]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_277576027] ON [dbo].[DIEM]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_309576141]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_309576141] ON [dbo].[GIANGVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_341576255]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_341576255] ON [dbo].[HOCPHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_373576369]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_373576369] ON [dbo].[KHOA]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENLOP]    Script Date: 1/11/2021 10:23:14 PM ******/
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [UK_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_405576483]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_405576483] ON [dbo].[LOP]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MONHOC]    Script Date: 1/11/2021 10:23:14 PM ******/
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [IX_MONHOC] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_437576597]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_437576597] ON [dbo].[MONHOC]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_469576711]    Script Date: 1/11/2021 10:23:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_469576711] ON [dbo].[SINHVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI] FOREIGN KEY([MASV], [NIENKHOA], [HOCKY])
REFERENCES [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY])
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC1]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_DIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA1] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA1]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_DIEM]
GO
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_LAN] CHECK  (([LAN]=(1) OR [LAN]=(2)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_LAN]
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DANGNHAP]
@LOGINNAME varchar(50)
AS
BEGIN
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@LOGINNAME)
DECLARE @HOTEN NVARCHAR(50)
if exists (SELECT HO+ ' '+ TEN FROM SINHVIEN WHERE MASV = @TENUSER)
SELECT @HOTEN=HO+ ' '+ TEN FROM SINHVIEN WHERE MASV = @TENUSER
else if exists (SELECT HO+ ' '+ TEN FROM GIANGVIEN WHERE MAGV = @TENUSER)
SELECT @HOTEN=HO+ ' '+ TEN FROM GIANGVIEN WHERE MAGV = @TENUSER
SELECT USERNAME = @TENUSER,
 HOTEN = @HOTEN,
 TENNHOM= NAME
 FROM sys.sysusers
 WHERE UID = (SELECT GROUPUID
 FROM SYS.SYSMEMBERS
 WHERE MEMBERUID= (SELECT UID FROM sys.sysusers
 WHERE NAME=@TENUSER))
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANHSACHNHAPDIEM]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANHSACHNHAPDIEM]
@MALOP char(8),
@MAMH char(6),
@LAN smallint
AS
BEGIN
 SELECT b1.MASV, b1.HO + ' ' + b1.TEN as 'HOTEN' , b2.DIEM
 FROM [QLDSV].[dbo].[SINHVIEN] as b1
 INNER JOIN [QLDSV].[dbo].[DIEM] as b2
 ON b1.MASV = b2.MASV
 where b1.MALOP = @MALOP AND B2.MAMH = @MAMH AND b2.LAN = @LAN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DONGHOCPHI]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_DONGHOCPHI]
@MASV char(12),
@NIENKHOA nvarchar(50),
@HOCKY int,
@SOTIENDONG int

AS
BEGIN
		INSERT INTO
		[QLDSV].[dbo].[CT_DONGHOCPHI](MASV, NIENKHOA, HOCKY, NGAYDONG, SOTIENDONG)
		VALUES (@MASV, @NIENKHOA, @HOCKY, GETDATE(), @SOTIENDONG)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_DSDONGHOCPHI]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DSDONGHOCPHI]
@MASV NVARCHAR(50)
AS
BEGIN
	select distinct HS.NIENKHOA,HS.HOCKY,HS.HOCPHI, isnull(CT.SOTIENDADONG,0) as SOTIENDADONG,SOTIENDONG=0 from 
	(select * from HOCPHI where MASV =@MASV) as HS left join
	(SELECT MASV,NIENKHOA,HOCKY,SUM(SOTIENDONG) AS SOTIENDADONG 
		 FROM CT_DONGHOCPHI
		 GROUP BY NIENKHOA,HOCKY,MASV)AS CT
		 on hs.MASV = ct.MASV AND HS.NIENKHOA = CT.NIENKHOA AND HS.HOCKY = CT.HOCKY
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HUYTHEMDSSVNHAPDIEM]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HUYTHEMDSSVNHAPDIEM]
@MASV char(12),
@MAMH char(6),
@LAN smallint
AS
BEGIN
	DELETE FROM DIEM WHERE MASV=@MASV AND MAMH=@MAMH AND LAN=@LAN;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INBANGDIEMMONHOC]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INBANGDIEMMONHOC]
@MALOP char(8),
@MAMH char(6),
@LAN smallint
AS
BEGIN
 SELECT ROW_NUMBER() over(order by D.DIEM) STT, HO + ' ' + TEN AS 'HOTEN', DIEM
 FROM [QLDSV].[dbo].[DIEM] D
 inner join [QLDSV].[dbo].[SINHVIEN] SV
 on D.MASV = SV.MASV
 WHERE SV.MALOP = @MALOP AND D.MAMH = @MAMH AND D.LAN = @LAN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INBANGDIEMTONGKET]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INBANGDIEMTONGKET]
@malop CHAR(8)
AS
BEGIN
SELECT SV.MASV, HOTEN = SV.HO + ' ' + SV.TEN, MH.TENMH, DIEM = MAX(D.DIEM)
FROM SINHVIEN AS SV, DIEM AS D, MONHOC AS MH
WHERE
SV.MALOP = @malop AND
SV.MASV = D.MASV AND
D.MAMH = MH.MAMH
GROUP BY SV.MASV, SV.HO, SV.TEN, MH.MAMH, MH.TENMH
ORDER BY SV.TEN ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INDSDONGHOCPHI]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INDSDONGHOCPHI]
@MALOP CHAR(8),
@NIENKHOA NVARCHAR(50),
@HOCKY INT
AS
BEGIN
    SELECT ROW_NUMBER() OVER (ORDER BY HP.HOTEN) AS STT, HP.HOTEN AS N'HOTEN', HP.HOCPHI AS N'HOCPHI', ISNULL(CT.STD, 0) AS N'SOTIENDONG'
	FROM( SELECT HOTEN, SV.MASV, NIENKHOA, HOCKY, HOCPHI FROM dbo.HOCPHI, (SELECT MASV, HO+' '+TEN AS HOTEN FROM dbo.SINHVIEN WHERE MALOP = @MALOP) AS SV
	WHERE NIENKHOA=@NIENKHOA AND HOCKY=@HOCKY AND SV.MASV = HOCPHI.MASV) AS HP
	LEFT JOIN (
	SELECT MASV, NIENKHOA, HOCKY, SUM(SOTIENDONG) AS STD FROM dbo.CT_DONGHOCPHI 
	GROUP BY MASV, NIENKHOA, HOCKY) AS CT
	ON CT.MASV = HP.MASV AND CT.NIENKHOA = HP.NIENKHOA AND CT.HOCKY = HP.HOCKY 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_INDSSV]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INDSSV]
@MALOP char(20)
AS
BEGIN
 SELECT ROW_NUMBER() over(order by SV.HO) STT, SV.HO, SV.TEN, SV.PHAI, SV.NGAYSINH,
SV.NOISINH, SV.DIACHI
 FROM dbo.SINHVIEN as SV
 WHERE SV.MALOP = @MALOP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INDSTHIHETMON]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INDSTHIHETMON]
@MALOP char(8),
@MAMH char(6),
@LAN smallint
AS
BEGIN
 SELECT ROW_NUMBER() over(order by D.DIEM) STT, SV.MASV, HO + ' ' + TEN AS 'HOTEN', SOTO='', DIEM, CHUKY=''
 FROM [QLDSV].[dbo].[DIEM] D
 inner join [QLDSV].[dbo].[SINHVIEN] SV
 on D.MASV = SV.MASV
 WHERE SV.MALOP = @MALOP AND D.MAMH = @MAMH AND D.LAN = @LAN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INPHIEUDIEM]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INPHIEUDIEM]
@MASV char(12)
AS
BEGIN
 SELECT ROW_NUMBER() over(order by MH.TENMH) STT, MH.TENMH, MAX(DIEM) AS 'DIEM'
 FROM [QLDSV].[dbo].[DIEM] as D
 INNER JOIN [QLDSV].[dbo].[MONHOC] AS MH
 ON D.MAMH = MH.MAMH
 WHERE D.MASV = @MASV
 GROUP BY MH. TENMH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRALOPTONTAI]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRALOPTONTAI]
@MALOP char(8),
@TENLOP nvarchar(200)
AS
BEGIN
IF EXISTS ( SELECT * FROM DBO.LOP WHERE DBO.LOP.MALOP = @MALOP OR LOP.TENLOP = @TENLOP)
BEGIN
 RETURN 1;
END
IF EXISTS ( SELECT * FROM LINK1.QLDSV.DBO.LOP WHERE LOP.MALOP = @MALOP OR LOP.TENLOP = @TENLOP)
BEGIN
 RETURN 1;
END
RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRAMAMHTONTAI]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRAMAMHTONTAI]
@MAMH char(6)
AS
BEGIN
 IF EXISTS ( SELECT * FROM MONHOC WHERE MONHOC.MAMH = @MAMH)
 BEGIN
 RETURN 1;
 END
 IF EXISTS ( SELECT * FROM LINK1.QLDSV.DBO.MONHOC WHERE MONHOC.MAMH = @MAMH)
 BEGIN
 RETURN 1;
 END
 RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRAMASVTONTAI]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRAMASVTONTAI]
@MASV CHAR(12)
AS
BEGIN
 --Kiểm tra trong table sinh viên của server hiện tại
 IF EXISTS( SELECT 1 FROM DBO.SINHVIEN WHERE DBO.SINHVIEN.MASV = @MASV)
 BEGIN
 RETURN 1; -- mã sinh viên tồn tại ở server hiện tại
 END
 --Kiểm tra trong table sinh viên của phân mảnh còn lại
 IF EXISTS( SELECT 1 FROM LINK1.QLDSV.DBO.SINHVIEN SV WHERE SV.MASV = @MASV)
 BEGIN
 RETURN 1; -- mã sinh viên tồn tại ở server hiện tại
 END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRAMONHOCCODIEM]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRAMONHOCCODIEM]
@MAMH CHAR(6)
AS
BEGIN
	IF EXISTS(SELECT * FROM DIEM WHERE MAMH=@MAMH)
		RETURN 1
	ELSE IF EXISTS(SELECT * FROM LINK1.QLDSV.DBO.DIEM WHERE MAMH=@MAMH)
		RETURN 1
	ELSE
		RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRASVCOHOCPHI]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRASVCOHOCPHI]
@MASV char(12)
AS
IF EXISTS(SELECT * FROM LINK2.QLDSV.DBO.HOCPHI HP WHERE HP.MASV=@MASV)
	RETURN 1;
RETURN 0;
GO
/****** Object:  StoredProcedure [dbo].[SP_KTLOPTHILANMOT]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KTLOPTHILANMOT]
@MALOP char(8),
@MAMH char(6),
@LAN smallint
AS
BEGIN
IF EXISTS( SELECT * FROM [QLDSV].[dbo].[SINHVIEN] SV
INNER JOIN [QLDSV].[dbo].[DIEM] D
ON SV.MASV = D.MASV
WHERE MAMH = @MAMH AND MALOP = @MALOP AND LAN = @LAN)
BEGIN
RETURN 1;
END
RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUADIEMSV]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SUADIEMSV]
@MASV char(12),
@MAMH char(6),
@DIEM float,
@LAN smallint
AS
BEGIN
 UPDATE [QLDSV].[dbo].[DIEM]
SET DIEM = @DIEM
WHERE MASV = @MASV AND MAMH = @MAMH AND LAN = @LAN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOTAIKHOAN]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOTAIKHOAN]
@tendangnhap VARCHAR(50),
@matkhau VARCHAR(50), 
@tennguoidung VARCHAR(50), 
@phanquyen VARCHAR(50)
AS
BEGIN
	DECLARE @ketqua INT

	-- Nếu đã bị trùng tên đăng nhập(loginname)
	EXEC @ketqua =  sp_addlogin @tendangnhap, @matkhau, 'QLDSV'
	IF @ketqua = 1
	BEGIN
		RAISERROR ('Login name bị trùng', 16,1)
		RETURN 1
	END

	-- Nếu đã bị trùng tên người dùng(username)
	EXEC @ketqua= sp_grantdbaccess @tendangnhap, @tennguoidung
	IF @ketqua = 1
	BEGIN
       EXEC sp_droplogin @tendangnhap
	   RAISERROR ('User name bị trùng', 16,2)
	   RETURN 2
	END

	-- Nếu loginname và username thỏa mãn thì thêm 1 quyền phía server cho người dùng thuộc nhóm PGV hoặc PKETOAN là  securityadmin để có thể tạo tài khoản
	EXEC sp_addrolemember @phanquyen, @tennguoidung
	IF @phanquyen= 'PGV' OR @phanquyen= 'PKETOAN' or @phanquyen = 'KHOA'
	BEGIN
		EXEC sp_addsrvrolemember @tendangnhap, 'securityadmin'
		EXEC sp_addsrvrolemember @tendangnhap, 'DBCREATOR'
		EXEC sp_addsrvrolemember @tendangnhap, 'ProcessAdmin'
		RETURN 0
	END 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMDSSVNHAPDIEM]    Script Date: 1/11/2021 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_THEMDSSVNHAPDIEM]
@MASV char(12),
@MAMH char(6),
@LAN smallint
AS
BEGIN
	IF(@LAN = 2 AND EXISTS(SELECT 1 FROM DIEM WHERE MASV = @MASV AND MAMH = @MAMH AND LAN = 1 AND DIEM >= 5))
	BEGIN
		RETURN
	END
	INSERT INTO
	[QLDSV].[dbo].[DIEM](MASV, MAMH, LAN, DIEM)
	VALUES (@MASV, @MAMH, @LAN,' ')
END

GO
USE [master]
GO
